{% extends 'Admin_templates/Admin_page.html' %}
{% block content %}

<table class="table table-striped table-hove" style="height:50px">

    <tr>
        <th scope="col">Services</th>
        <th scope="col">Details</th>
        <th scope="col">Date</th>
        <th scope="col">Time</th>

    </tr>
    <tbody>
    {% for i in data %}
    <tr>
        <td>{{i.service}}</td>
        <td>{{i.Details}}</td>
        <td>{{i.Date}}</td>
        <td>{{i.Time}}</td>


<!--        <form action= "{% url 'delete_accessory' i.id %}" method="POST">-->
<!--          {% csrf_token %}-->
<!--      <td><button type="submit" class="btn">Delete</button></td>-->
<!--                </form>-->

    </tr>
    {% endfor %}

    </tbody>
</table>
{% endblock %}