{% extends 'Patient templates/Patient_view.html' %}
{% block content %}
 <form method ='POST'>
     {% csrf_token %}
<table class="table">
    <thead>

    <tr>


        <th scope="col">ACCESSORY</th>
         <th scope="col">STATUS</th>
    </tr>
    </thead>
    <tbody>
    {% for i in data %}

    <tr>
        <td>{{i.request.Equipments}}</td>


      <td>
          {% if i.status == 0 %}
          <h3>Pending</h3>
          {% elif i.status == 1 %}
          <h3>Accepted</h3>
          {% else %}
          <h3>Rejected</h3>
      </td>

    </tr>
    {% endif %}
   {% endfor %}

    </tbody>
</table>
   </form>
{% endblock %}
