{% extends 'Doctor templates/Doctor_view.html' %}
{% block content %}

<table class="table table-striped table-hove"style="height:50px">
    <thead>
    <tr>
        <th scope="col">Services</th>
        <th scope="col">Details</th>
        <th scope="col">Date</th>
        <th scope="col">Time</th>

    </tr>
    </thead>
    <tbody>
    {% for i in data %}
    <tr>
        <td>{{i.service}}</td>
        <td>{{i.Details}}</td>
        <td>{{i.Date}}</td>
        <td>{{i.Time}}</td>

</td>
  <td>
      {% if i.status == 0 %}
      <a href ="{% url 'Service_status_change_1' i.id %}" type="submit" class="btn-btn">Accept</a>
       <a href ="{% url 'Service_status_change_2' i.id %}" type="submit" class="btn-btn">Reject</a>
      {% elif i.status == 1 %}
      <a href="{% url 'Service_status_change_1' i.id %}" type="submit" class="btn-btn">Accepted</a>
     {% else %}
      <a href="{% url 'Service_status_change_2' i.id %}" type="submit" class="btn-btn">Rejected</a>
    </td>
         </tr>
    {% endif %}
    {% endfor %}
        </tbody>
</table>

{% endblock %}